<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Products:</h1>
    <table th:if="${products.size() > 0}" class="table">
        <thead>
        <tr>
            <td style="font-weight: bold;">Id</td>
            <td style="font-weight: bold;">Title</td>
            <td style="font-weight: bold;">Cost</td>
            <td style="font-weight: bold;">Action</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.title}"></td>
            <td th:text="${product.cost}"></td>
            <td>
                <a class="btn btn-danger btn-sm" th:href="@{'/products/remove/' + ${product.id}}">Delete</a>
                <a class="btn btn-warning btn-sm" th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
            </td>
            <!--<td><a class="btn btn-warning" th:href="@{'/products/edit/' + ${product.id}}">Edit</a></td>-->
        </tr>
        </tbody>
    </table>
    <span th:unless="${products.size() > 0}">Empty</span>
    <span style="font-weight: bold;" th:text="'Total: ' + ${products.size()}"/>
    </p>
    <span style="font-weight: bold;" th:text="'Avg cost: ' + ${avg_cost}"/>
    </p>
    <form th:action="@{'/products/add'}" method="post">
        <label>id</label>
        <input type="number" name="id">
        <label>Title</label>
        <input type="text" name="title">
        <label>Cost</label>
        <input type="number" name="cost" step="0.01">
        <button class="btn btn-primary" type="submit">Create</button>
    </form>

</div>
</body>
</html>